---
import { convertToMarkdown } from '../../utils/convertToMarkdown.js'
import Layout from "../../layouts/Layout.astro";
import { CommentSection } from '../../components/common/comments/CommentSection';
import { Stats } from '../../components/common/Stats';

const { id } = Astro.params;
const response = await fetch(`http://localhost:3000/api/posts/${id}`);
const post = await response.json();

const md = await fetch(post.post.contentUrl);
const md2 = await md.text();

const content = await convertToMarkdown(md2);
---

<Layout>
    <div class="flex flex-col items-center">
        <img src={post.post.thumbnailUrl} alt="" class="aspect-video">
        <div class="postContainer">
            <div class="flex gap-4">
                <Stats
                icon={"/icons/views.svg"}
                alt={"Views icon"}
                data={post.post.views}
                name={"visitas"}
              />
              <Stats
                icon={"/icons/like.svg"}
                alt={"Likes icon"}
                data={post.post.userLikes.length}
                name={"likes"}
              />
              <Stats
                icon={"/icons/comment.svg"}
                alt={"Comments icon"}
                data={post.post.comments.length}
                name={"comentarios"}
              />
              <Stats
                icon={"/icons/readtime.svg"}
                alt={"Readtime icon"}
                data={post.post.readtimeMin}
                name={"min de lectura"}
              />
            {
                post.post.categories.map((category: { category: { name: unknown; }; }) => {
                    if(category){
                        return <p>{category.category.name}</p>
                    }
                })
            }
            </div>
            <h1>{post.post.title}</h1>
            <hr>
            <div set:html={content} id="content"></div>
            <h3>Comments</h3>
            <CommentSection postId={id} client:load />
        </div>
    </div>
</Layout>

<style>
    h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    h3{
        font-size: 1.5rem;
    }
    img{
        mask-image: linear-gradient(black 20%, transparent);
        filter: brightness(0.8) blur(1px);
        position: absolute;
    }
    hr{
        margin-bottom: 1rem;
    }
    .postContainer{
        background-color: #fafafa;
        border-radius: 1rem;
        max-width: 80%;
        margin-top: 20%;
        padding: 2rem;
        z-index: 3;
    }
    #content{
        h2, h3, h4, pre, p, hr{
            margin-bottom: 1rem;
        }
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.5rem;
        }
        h4{
            font-size: 1.2rem;
        }
        pre {
            background-color: #2d2d2d; 
            color: #f8f8f2;           
            padding: 16px;           
            border-radius: 8px;       
            overflow-x: auto;         
            font-family: 'Courier New', Courier, monospace; 
            font-size: 14px;         
            line-height: 1.5;         
        }
        code {
            color: #66d9ef;         
            background: none;       
            font-size: 1em;          
        }
    }
</style>